body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.registerForm{
  width: 500px;
  padding:20px 30px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

::placeholder{
  font-size: 16px;
}

label{
  color: black;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 20px;
  box-sizing: border-box;
  box-shadow: 0 0px 5px gray;
  border: none;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;

}
.signUP{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: blue;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
  position: relative;
  transition: all .5s linear;
}
.signOne,.signTwo{
  position: absolute;
  transition: all .5s linear;
  transform-origin: top;
}
.signTwo{
  transform: scaleY(0);
}
.signUP:hover .signOne{
  transform: scaleY(0);
}
.signUP:hover .signTwo{
  transform: scaleY(1);
}
.button{
  position: relative;
}
.buttonOne,.buttonTwo{
  border: none;
  background: blue;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: white;
  position: absolute;
  transition: all .5s ease-in-out;
}
.buttonTwo{
  scale: 0;
  background: brown;
}
.button:hover .buttonOne{
  scale: 0;
}
.button:hover .buttonTwo{
  scale: 1;
}



